* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} 
// Desde tablet horizontal
@media (min-width: 992px) {
    color: green;
}
// Desde PC
@media (min-width: 1200px) {
    color: blue;
}

.carrusel-img {
    display: flex;
    align-content: center;
    width: 68%;
    margin: 0px auto;
}


/* header y primer section*/


 .navBar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0%;
    background-color:  #05486e;
    padding: 8px 20px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    
}

.logo {
    width: 60px;
    height: auto;
    margin-right: auto;

}

.navBar>ul {
    list-style: none;
    margin-bottom: 5px;
    font-size: 1.5rem;
    
}

.navBar li{
    display: inline-flex;
    padding: 0px 10px;
}



/*section hom-info*/

.main-index {
  width: auto;
  height: auto;
}

.home-info {
    background-color: #a2d5f2 ;
    text-align: center;
    margin-bottom: 20px;
 }

 
.home-info>h2 {
    text-align: center;
}




@media (max-width: 768px) {

    .about-items, .app-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

  /* seccion FAQ*/

  .article-faq {
    margin-top: 20px;
    margin-top: 40px;
}

.article-li {
    font-size: 1.5rem;
}


.article-p {
    font-size: 15px;
    margin-top: 10px;  

}

.app-info{
  background-color: #a2d5f2;
  color: var(--white-color);
  padding: 50px;
  position: relative;
}

@media (max-width: 768px){
    .pokemon-list > article{
        width: 100%
    }
}




/*signup*/
 
.foto-fondo-sign {
    display: flex;
    align-content: center;
    margin: 0px auto;
    width: 85%;
    height: 73vh;
    background: url(../Imagenes/perros-trineo.jpg) no-repeat 50% 50%;
    background-size: 100%;
    margin-top: 100px;
    
}

.foto-fondo-log {
    display: flex;
    align-content: center;
    margin: 0px auto;
    width: 85%;
    height: 73vh;
    background: url(../Imagenes/pose_perros.jpg) no-repeat 20% 20%;
    background-size: 100%;
    margin-top: -100px;
}
 .signup {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    margin-left: auto;
   
}

.login {
    margin-top: 3em;
    margin-bottom: 6em;
    text-align: center;
    margin-left: auto;
}


.form-wrapper{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-wrapper > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.message-container{
    width: 100%;
    max-width: 800px;
}


.message-container p{
    background-color: #4cdb2c;
    padding: 20px;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px #4CDB2C;
}

.message-container p.correct-message {
    background-color: rgb(47, 164, 93);
    box-shadow: 0 0 10px #dbf1c1;
}


a:hover{
    color: var(--red-color);
}
 
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: normal;
}


main{
    padding: 30px;
}

input {
    margin: 10px;
    height: 40px;
    border: none;
    border-bottom: solid 2px black;
    text-align: center;
}

input:focus{
    border-bottom: solid 2px var(--text-color);
    outline-color: #ff6541;
}

button, .button{
    height: 40px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 3px 3px 0px #4CDB2C;
    
}

button:hover, .button.hover{
    background-color:#4e4e4e;
}

button:disabled, .button:disabled{
    background-color: grey;
}
 

.main2 {
    margin-top: 100px;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
}
/* app page*/


@media (max-width: 768px){
.perros-list > article{
    width: 100%
}



.form-control{
    font-size:1.2em;
}
  
 
  
}


/*section footer*/



.background-footer {
    background: white;
    width: auto;
    height: auto;
    
    padding-bottom: 1rem;
    padding-left: 100px;
    padding-right: 100px;
}

  .footer h5 {
      
    font-size: xx-large;
    text-align: center;
    justify-content: space-around;
    
  }

  .footer {
    display: flex; 
   
    justify-content: space-around; 
    
  }

/////////////////////////////////////////////////////////////////////////////////////////

.header_app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px 40px 0;
}
.main-perro {
  margin-top: 50px;
  text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  
  main {
    height: 100vh;
    width: 100%;
  }
  

  main .img-container .dog-img {
    display: none;
    width: 80%;
    margin: 1em auto;
  }
  
  main .img-container .show {
    display: block;
  }
  
  
  